{% extends 'base.html' %}
{% block content %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4 mx-auto">
          <div class="rounded-lg h-64 overflow-hidden">
            <!-- FIXME: Change dummy image to something like document thumbnail -->
            <img alt="content"
                 class="object-cover object-center h-full w-full"
                 src="https://dummyimage.com/1201x501"/>
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            {{ item.title }}
          </h2>
          <p class="leading-relaxed text-base">
            {{ item.body|linebreaks }}
          </p>
          <!-- FIXME: Add a back button/link to the dashboard -->
          <!-- FIXME: Anchor tag is not in center. Change to <button> to see the desired result -->
          <a href="{% url 'users:documents:document-serve' text_id=item.id %}"
             class="flex justify-center mx-auto mt-6 text-white bg-indigo-500 border-0 py-1 px-5 focus:outline-none hover:bg-indigo-600 rounded">
            Show File
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
